.roylz{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
      
}
.roylz > div {
    max-width: 5%;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    align-items: center;
    
}
body{
    font-family: Papyrus;
}
.Nav{
    border-style: solid;
    padding: 10px;
    box-shadow: 5px 10px;
}

.photo{
    border-radius: 100px;
    max-width: 50% ;
    object-fit: 50%;
}

#boss{
    display: flex;
    justify-content: center;
}